@{
    ViewBag.Title = "M3 - Agência Digital M3";
    Layout = "~/Views/Shared/Base/_Layout.cshtml";
}


<!-- ~/Views/Shared/Blocks/Banner/_FullBanner.cshtml -->
@Html.Action("FullBanner", "Banner")

<!-- ~/Views/Shared/Blocks/_InfoBar.cshtml -->
@Html.Partial("Blocks/_InfoBar")

<!-- ~/Views/Shared/Blocks/Banner/_CentralHalfBanner.cshtml -->
@Html.Action("CentralHalfBanner", "Banner")

<div class="featuredProducts">
    <!-- ~/Views/Shared/Blocks/Product/_FeaturedProducts.cshtml -->
    @Html.Action("FeaturedProducts", "Product")
</div>


<!-- ~/Views/Shared/Blocks/Banner/_FooterHalfBanner.cshtml -->
@Html.Action("FooterHalfBanner", "Banner")