@model DomainCheckout.Entities.CartItem

@{ 
	 string classe_qtd = "ui icon button ";
	 string classe_remove = "mini ui icon red button produto ";
	 string id_ipt_qtd = "qtd_";
	 string classe_stock = "stock_";
	 string classe_ipt_qtd = "";

	 if (Session["EventList"] != null)
	 {
		  classe_qtd += "qtdActionEventList";
		  classe_remove += "removeItemEventList";
		  id_ipt_qtd += Model.IdCartItem;
		  classe_stock += Model.IdCartItem;
		  classe_ipt_qtd += "event_list";
	 }
	 else
	 {
		  classe_qtd += "qtdActionMiniCart";
		  classe_remove += "removeCartItem";
		  id_ipt_qtd += Model.IdCartItem;
		  classe_stock += Model.IdCartItem;
		  classe_ipt_qtd += "mini_cart";
	 }
}
<div class="item" data-id-produto="@Model.IdProduct" data-id-cart="@Model.IdCartItem" id="itemCartProduct_@Model.IdCartItem">
	 <div class="grid ui">
		  <div class="six wide column">
				<img src="@Model.ProductImage.ImageDefault" onerror="imgError(this)">
		  </div>
		  <div class="ten wide column">
				<a href="/Product/Details/@Model.IdProduct" class="product title" id="name_@Model.IdCartItem">@Html.Raw(Model.NameProduct)</a>
				<div class="meta product avaibility" id="availability_@Model.IdCartItem">
					 @if (Model.Stock == 0) { @Html.Raw("Produto Esgotado") } else if (Model.AvailabilityStatus != null) { @Model.AvailabilityStatus.DescriptionCart }
				</div>
				<div id="preco_unitario_@Model.IdCartItem">
					<span>Valor Un.</span>
					<span class="value"> @string.Format("{0:c}", Model.PriceProduct) </span>
				</div>
		  </div>
		  <div class="eight wide column">
				<div data-idCartItem="@Model.IdCartItem">
					<spam>Qtd: </spam>
					<span class="ui qtd action mini input">
						<button class="@classe_qtd" data-id="@Model.IdCartItem" data-action="minus" data-id-produto="@Model.IdProduct" data-id-sku="@Model.IdSku">
								<i class="minus icon"></i>
						</button>
						<input type="hidden" id="qtdInicial_@Model.IdCartItem" value="@Model.Quantity" />
						<input type="hidden" value="@Model.Stock" name="stock_@Model.IdCartItem" id="stock_@Model.IdCartItem" />
						<input type="number" min="0" step="1" size="3" value="@Model.Quantity" name="@Model.IdCartItem" id="qtd_@Model.IdCartItem" data-id="@Model.IdCartItem" data-action="ipt" />
						<button class="@classe_qtd" data-id="@Model.IdCartItem" data-action="plus" data-id-produto="@Model.IdProduct" data-id-sku="@Model.IdSku">
								<i class="add icon"></i>
						</button>
					</span>
				</div>
			</div>
			<div class="eight wide column">
				<div class="valor_totoal">
					<span>Valor Total:</span>
					<strong id="preco_total_@Model.IdCartItem">
						@string.Format("{0:c}", Model.PriceTotalProduct)
					</strong>
				</div>
				<div class="remover_produto">
					<button class="@classe_remove" data-id="@Model.IdCartItem" data-id-produto="@Model.IdProduct" data-id-sku="@Model.IdSku">
						<i class="remove icon"></i>
					</button>
				</div>
			</div>
	 </div>
</div>